{{#each cats as |cat|}}
  {{cat-detail cat=cat onRevive=onRevive onTrash=onTrash}}
{{else}}
  <div class="no-cats">
    <div class="icon"></div>
    <p>There are no cats to display.</p>
  </div>
{{/each}}
