<div class="loading">
  <img src="/images/loading.gif"/><br/>
  Loading visualization ... one moment please &#160;&#160;&#160;&#160;&#160;&#160;&#160;
</div>

<div class="data">
  <aside class="totals"><span class="selection">?</span> of <span class="total">?</span> meows selected</aside>

  <div class="charts">
    <div class="chart dates-chart">
      <div class="title">Date</div>
    </div>
    <div class="chart hours-chart">
      <div class="title">Time of Day</div>
    </div>
    <div class="chart characters-chart">
      <div class="title">Characters</div>
    </div>
    <div class="chart hashtags-chart">
      <div class="title">Hashtags</div>
    </div>
  </div>

  <div class="lists">
    <div class="list meow-grid"></div>
  </div>
</div>
