<header>
  <div class="page-container">

    <div class="logo">Scagtree</div>

    {{#if isAuthenticated}}
      <nav>
        {{#link-to "home"}}Home{{/link-to}}

        {{#link-to "profile" authenticatedUserid}}
          @{{authenticatedUsername}}
        {{/link-to}}

        <button class="meow">Meow</button>
      </nav>
    {{/if}}

  </div>
</header>

{{liquid-outlet}}
