<div class="page-container home-page">
  <aside class="left">
    {{profile-card user=model.user}}
  </aside>

  <main>
    {{meow-add user=model.user}}
    {{meow-list meows=model.meows}}
  </main>
</div>
